<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />

    <title>{% block title %}Srinath's Portfolio{% endblock %}</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <img
          src="/static/images/profile.jpeg"
          alt="Profile Picture"
          class="profile-pic"
        />
        <h1>Srinath Shrestha</h1>
        <h2>Backend Developer | DevOps Enthusiast | cloud Practiciner</h2>
        <p class="tagline">"Turning the grind into art"</p>
      </div>
      <nav>
        <a href="/">Home</a> | <a href="/skills">Skills</a> |
        <a href="/projects">Projects</a>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>© 2024 Srinath Shrestha</p>
      <p>Made with ❤️ and Python</p>
    </footer>
  </body>
</html>
