{% extends "base.html" %} {% block title %}Home - Srinath's Portfolio{% endblock
%} {% block content %}
<section id="about-me">
  <h3>About Me</h3>
  <p>
    Hi, I'm Srinath, a B.Tech CSE student passionate about backend development
    and DevOps. Skilled in Python, FastAPI, Django, and cloud technologies. I
    aim to build scalable systems that will server millions of users.
  </p>
  <p>
    Fun fact: I'm a huge fan of captain America and watched all his movies multiple times. 🛡 ️
  </p>
</section>

<section id="blogs">
  <h3>Blogs</h3>
  <ul>
    <li>
      <a
        href="https://medium.com/@ubermensch1/from-dreamer-to-builder-my-journey-into-backend-development-9feeef9d3313"
        target="_blank"
        >My backend journey</a
      >
    </li>
    <li>
      <a href="https://medium.com/blog-2" target="_blank"
        >Scaling Apps with Kubernetes</a
      >
    </li>
  </ul>
</section>

<section id="contact">
  <h3>Contact Me</h3>
  <p>Email: srinathshrestha9890@gmail.com</p>
  <p>
    GitHub:
    <a href="https://github.com/srinathshrestha" target="_blank"
      >github.com/your_github</a
    >
  </p>
  <p>
    LinkedIn:
    <a
      href="https://www.linkedin.com/in/srinath-shrestha-584171204/"
      target="_blank"
      >linkedin.com/in/your_linkedin</a
    >
  </p>
</section>

{% endblock %}
