{% extends "base.html" %} {% block title %}Skills - Srinath's Portfolio{%
endblock %} {% block content %}
<section>
  <h2>Skills</h2>
  <ul>
    <li>
      <strong>Programming:</strong>
      <i class="fab fa-python"></i> Python,
      <i class="fab fa-js-square"></i> JavaScript,
      <i class="fas fa-code"></i> Java
    </li>
    <li>
      <strong>Frameworks:</strong>
      <i class="fas fa-cogs"></i> FastAPI,
      <i class="fas fa-project-diagram"></i> Django
    </li>
    <li>
      <strong>Cloud & DevOps:</strong>
      <i class="fas fa-cloud"></i> GCP (Cloud Run, Memorystore),
      <i class="fab fa-docker"></i> Docker,
      <i class="fab fa-kubernetes"></i> Kubernetes, RabbitMQ, Redis
    </li>
    <li>
      <strong>Databases:</strong>
      <i class="fas fa-database"></i> PostgreSQL, MongoDB
    </li>
    <li>
      <strong>Others:</strong>
      <i class="fas fa-linux"></i> Linux, <i class="fab fa-git-alt"></i> Git,
      <i class="fas fa-network-wired"></i> REST APIs, WebRTC, Socket.io,
      Microservices
    </li>
  </ul>
</section>
{% endblock %}
